@media (max-width:1140px) {
    .product .container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 30px;

    }
}

@media (max-width:992px) {}

@media (max-width:845px) {
    .item_airpods1 {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

@media (max-width:768px) {
    .item_airpods2 {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .item_airpods1-txt {
        max-width: unset;

    }

    .item_airpods1 img {
        max-width: 400px;
    }

    .item_airpods3 {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .header_title {
        text-align: center;
    }
}

@media (max-width:586px) {
    .nav_all {
        flex-direction: column;
        gap: 10px;
    }

    .header_title {
        font-size: 60px;
        text-align: center;
    }

    .nav_link-items {
        flex-direction: column;
        gap: 10px;
    }
    .footer .container{
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width:460px) {
    .item_airpods1 img {
        max-width: 300px;
    }

    .item_airpods2 img {
        max-width: 330px;
    }

    .item_airpods3 img {
        max-width: 150px;
    }
}

@media (max-width:320px) {}