@import "font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background: #282828;
  padding: 6px 0;
}

.nav_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 30px;
}

.nav_link-items {
  display: flex;
  align-items: center;
}

.shop {
  margin-left: 25px;
}

.banner {
  background: url(../img/header/bckg_head.png) no-repeat center/cover;
  min-height: 820px;
  display: flex;
}

.header_title {
  font-family: "Prosto-One";
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
  color: #ffffff;
  margin-bottom: 40px;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button_title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #171718;
  padding: 15px 0px 15px 15px;
  text-transform: uppercase;
  background: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.button {
  max-width: 200px;
}

.button_go {
  margin-left: 9px;
}

.content {
  background: #151515;
  padding-top: 30px;
  padding-bottom: 80px;
}

.item_airpods1-txt {
  max-width: 540px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.item_airpods1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.item_airpods2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.item_airpods2-txt {
  max-width: 540px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.item_airpods3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_airpods3left-txt {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  width: 335px;
}

.item_airpods3right-txt {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  max-width: 335px;
}

.airpods {
  display: flex;
  align-items: center;
}

.airpods::after {
  content: "";
  background: #ffffff;
  height: 1px;
  width: 60px;
  margin: 0 14px;
}

.airpods::before {
  content: "";
  background: #ffffff;
  height: 1px;
  width: 60px;
  margin: 0 14px;
}

.product {
  padding-bottom: 55px;
  background: #151515;
}

.product .container {
  display: flex;
  gap: 30px;
}

.item_product1 {
  background: #ffffff;
  border-radius: 6px;
  width: 255px;
  height: 315px;
}

.item_product1-block {
  text-align: center;
  padding: 15px 50px;
}

.item_product1-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.iphn11pro {
  margin-bottom: 10px;
}

.item_product1-price {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.item_product1-btn-title {
  padding: 7px 57px;
  background: #151515;
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.item_product1-btn {
  width: 161px;
  text-align: center;
  height: 34px;
}

.item_product2 {
  background: #ffffff;
  border-radius: 6px;
  width: 255px;
  height: 315px;
}

.item_product2-block {
  text-align: center;
  padding: 15px 50px;
}

.item_product2-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.iphn11 {
  margin-bottom: 10px;
}

.item_product2-price {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.item_product2-btn-title {
  padding: 7px 57px;
  background: #151515;
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.item_product2-btn {
  width: 161px;
  text-align: center;
  height: 34px;
}

.item_product3 {
  background: #ffffff;
  border-radius: 6px;
  width: 255px;
  height: 315px;
}

.item_product3-block {
  text-align: center;
  padding: 15px 50px;
}

.item_product3-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.iphnSE {
  margin-bottom: 10px;
}

.item_product3-price {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.item_product3-btn-title {
  padding: 7px 57px;
  background: #151515;
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.item_product3-btn {
  width: 161px;
  text-align: center;
  height: 34px;
}

.item_product4 {
  background: #ffffff;
  border-radius: 6px;
  width: 255px;
  height: 315px;
}

.item_product4-block {
  text-align: center;
  padding: 15px 50px;
}

.item_product4-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 10px;
}

.iphnxr {
  margin-bottom: 10px;
}

.item_product4-price {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.item_product4-btn-title {
  padding: 7px 57px;
  background: #151515;
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.item_product4-btn {
  width: 161px;
  text-align: center;
  height: 34px;
}

.footer {
  background: #282828;
}

.footer_nav_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 30px;
}

.mastercard {
  margin-left: 30px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.media {
  display: none;
}